@import url("https://fonts.googleapis.com/css?family=Coda|Roboto+Condensed");

h1{
    font-family: 'Roboto Condensed';
    margin-top: 3%;
    margin-left: 3%;
    text-align: center;
    color: ghostwhite;
    font-size: 300%;
    
}

#navbar{
    overflow: hidden;
    top: 1;
    margin-bottom: 3%;
    text-align: center;
}


#navbar a{
    color: ghostwhite;
    text-decoration: none;
    font-style: italic;
    padding: 0.1% 0.6%;
    font-size: 100%;
    font-family: 'Coda';
}

#navbar a:hover{
    color:  #DC143C;
    transition: color 2s ease;
}

.content-container{
    align-items: center;
    justify-items: center;
    height: 50vh;
    display: grid;
        grid-gap: 10px; 
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-content: space-between;
}

#background, #info {
    text-align: left;
    max-width: 50%;
    padding-left: 3%;
    color: ghostwhite;
    font-size: 95%;
    font-family: 'Coda';
    align-content: center;
}

#background h2{
    color: #DC143C;
    text-align: left;
    font-size: 125%;
    font-family: 'Coda'
}

#model{
align-content: center;
}

body{
    background-image: url("../img/blkBG.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
}
